<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/sideBar/newSidebar.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css" />
    <link rel="stylesheet" href="/css/adminPanel/patientsAllAppoinment.css" />
    <script
      src="/javascript/adminPanel/patientAllAppointment.js"
      defer
    ></script>
    <title>User Details</title>
  </head>

  <body>
    <div class="main-container">
      <%- include('../../common/newSidebar/adminSidebar') %>

      <div class="a5-section">
        <div class="a5-container">
          <a
            href="/admin/all-patient"
            style="text-decoration: none; color: black"
          >
            <p class="a2-back-btn a2-btn">
              <img src="/assets/adminPanel/icons/back-iceblue.svg" alt="Back" />
              Back
            </p>
          </a>

          <div class="a5-patient">
            <div class="a5-patient-img">
              <img src="/assets/adminPanel/patient.png" alt="image" />
            </div>
            <div class="a5-patient-details">
              <h1>
                <%= patientDetails[0].fname + " " + patientDetails[0].lname %>
              </h1>
              <div class="a5-patient-more-detail">
                <div class="a5-details">
                  <p>
                    <span class="a5-bold">Email :</span>
                    <%= patientDetails[0].email %>
                  </p>
                  <p>
                    <span class="a5-bold">Contact :</span>
                    <%= patientDetails[0].phone %>
                  </p>
                  <p>
                    <span class="a5-bold">DOB :</span>
                    <%= patientDetails[0].dob %>
                  </p>
                </div>
                <div class="a5-details">
                  <p>
                    <span class="a5-bold">Gender :</span>
                    <%= patientDetails[0].gender %>
                  </p>
                  <p>
                    <span class="a5-bold">City :</span>
                    <%= patientDetails[0].city %>
                  </p>
                  <p>
                    <span class="a5-bold">Blood group :</span>
                    <%= patientDetails[0].blood_group %>
                  </p>
                </div>
              </div>
              <div class="a5-patient-address">
                <p>
                  <span class="a5-bold">address : </span>
                  <%= patientDetails[0].address %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="a5-section">
        <div class="a5-container">
          <div class="a5-all-doctor">
            <h2>Patient Appointment</h2>

            <div class="a5-doctor-table">
              <table id="a5-doctor-table">
                <tr>
                  <th>ID</th>
                  <th>Doctor Name</th>
                  <th>Speciality</th>
                  <th>Appointment Date</th>
                  <th>Details</th>
                </tr>
                <% let index=0 %> <% allAppointment.forEach(element=> { %>

                <tr>
                  <td><%= ++index %></td>
                  <td><%= element.fname + " " + element.lname %></td>
                  <td><%= element.speciality %></td>
                  <td><%= element.date %></td>
                  <td>
                    <p
                      onclick="show('a5-popup', `<%= element.slot_id %>`)"
                      class="a5-btn"
                    >
                      Detail
                    </p>
                  </td>
                </tr>
                <% }); %>
              </table>

              <div class="a5-popup" id="a5-popup"></div>
            </div>
          </div>
        </div>
      </div>
  </div>


</body>

<script src="/javascript/adminPanel/patientAllAppointment.js" defer></script>


</html>
