<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/prescription/createPrescription.css" />
    <link rel="stylesheet" href="/css/sideBar/sidebar.css" />
  </head>
  <body>
    <div class="A4-section">
      <div class="A4-container">
        <%- include('../common/doctorSideBar') %>

        <div class="A4-main">
          <div class="A4-title">
            <h1>Patient Details</h1>
          </div>
          <div class="A4-Content">
            <table>
              <tr>
                <td id="A4-table-title">Firstname:</td>
                <td id="A4-table-content"><%= firstname %></td>
              </tr>
              <tr>
                <td id="A4-table-title">Lastname:</td>
                <td id="A4-table-content"><%= lastname %></td>
              </tr>
              <tr>
                <td id="A4-table-title">Email:</td>
                <td id="A4-table-content"><%= email %></td>
              </tr>
              <tr>
                <td id="A4-table-title">Contact Number:</td>
                <td id="A4-table-content"><%= contact_number %></td>
              </tr>
              <tr>
                <td id="A4-table-title">Gender:</td>
                <td id="A4-table-content"><%= gender %></td>
              </tr>
              <tr>
                <td id="A4-table-title">DOB:</td>
                <td id="A4-table-content"><%= dob %></td>
              </tr>
              <tr>
                <td id="A4-table-title">Address:</td>
                <td id="A4-table-content"><%= address %></td>
              </tr>
              <tr>
                <td id="A4-table-title">BloodGroup:</td>
                <td id="A4-table-content"><%= blood_group %></td>
              </tr>
            </table>
          </div>
          <div class="A4-prescription">
            <button
              class="A4-addPrescription"
              id="A4-addprescription"
              onclick="addprescreption()"
            >
              Add Prescription</button
            ><br /><br />

            <button
              class="A4-addPrescription"
              id="A4-generatePdf"
              onclick="generatePDF()"
            >
              Get PDF
            </button>
          </div>

          <div class="A4-PrescriptionDetails">
            <form action="" id="myForm">
              <input
                type="hidden"
                value="<%= id %>"
                name="patient_id"
                id="id"
              />
              <label for="diagnosis">Diagnosis:</label>
              <input
                type="text"
                name="diagnosis"
                id="diagnosis"
                onkeypress="removeError('prescriptionerror')"
              />
              <p id="diagnosiserror"></p>
              <br /><br />
              <label for="prescription">Prescription:</label>
              <textarea
                id="prescription"
                name="prescription"
                rows="6"
                cols="50"
                onkeypress="removeError('prescriptionerror')"
              ></textarea>
              <p id="prescriptionerror"></p>
              <br />

              <div class="A4-submitBtn">
                <input
                  type="button"
                  value="Submit"
                  class="A4-submitbtn"
                  onclick=" return submitPrescription()"
                />
              </div>
              <!-- <div class="A4-GetPdf" id="generatePdf">
              <button class="A4-Getpdf" id="A4-generatePdf">Get PDF</button>
            </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      function removeError(id) {
        document.getElementById(id).innerHTML = "";
      }

      document.getElementsByClassName(
        "A4-PrescriptionDetails"
      )[0].style.display = "none";
      document.getElementById("A4-generatePdf").style.display = "none";

      async function submitPrescription() {
        if (!validate()) {
          return false;
        } else {
          document.getElementsByClassName(
            "A4-addPrescription"
          )[0].style.display = "none";
          document.getElementsByClassName(
            "A4-PrescriptionDetails"
          )[0].style.display = "none";
          document.getElementById("A4-generatePdf").style.display = "block";

          const form = document.getElementById("myForm");
          const obj = new URLSearchParams(new FormData(form));
          console.log(obj);
          let res1 = await fetch(`http://localhost:8000/createprescription`, {
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            method: "POST",
            body: obj,
          });
          //start with here
          const result = await res1.json();
          console.log(result.insert_id);
          console.log("inserted successfully");
        }
      }

      function addprescreption() {
        document.getElementsByClassName(
          "A4-addPrescription"
        )[0].style.disabled = "true";
        document.getElementsByClassName("A4-addPrescription")[0].style =
          "background-color: #083563";

        document.getElementsByClassName(
          "A4-PrescriptionDetails"
        )[0].style.display = "block";
      }

      function validate() {
        const diagnosisval = document.getElementById("diagnosis").value;
        const prescriptionval = document.getElementById("prescription").value;
        console.log(diagnosisval.trim().length);
        console.log(prescriptionval);

        if (
          diagnosisval.trim().length <= 0 ||
          prescriptionval.trim().length <= 0
        ) {
          document.getElementById("prescriptionerror").innerHTML =
            "both field must be filled out";
          return false;
        } else {
          return true;
        }
      }

      async function generatePDF() {
        window.location = `http://localhost:8000/generatePDFofprescripton/?patient_id=4&doctor_id=3&created_at=2024-04-10 15:59:20`;
      }
    </script>
  </body>
</html>
